
body { 
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;

}

header {
    color: #333333;
    font: 28px;
    
}

.container{
    width: 1024px;
    margin: 0 auto;
}

#main-bio,#contact-info,#bio-image {
    float: left;
}